<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- Console Output -->
    <appender name="mongo" class="org.springframework.data.mongodb.log4j.MongoLog4jAppender">
        <param name="Threshold" value="DEBUG"/>
        <param name="database" value="logtopus-db"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p %d [%t] (%F:%L) - %m%n"/>
        </layout>
    </appender>
    <root>
        <priority value="INFO"/>
        <appender-ref ref="mongo"/>
    </root>
</log4j:configuration>