<!doctype html>

<html ng-app>
<head>
    <title>Todo</title>

    <script src="js/angular-1.0.3.js"></script>
    <script src="js/todo.js"></script>

</head>

<!-- Anything inside here should use the $scope of TodoController -->
<body ng-controller="TodoController">

<!-- When this form is submitted, cancel the action and run TodoController.addTodo() -->
<form ng-submit="addTodo()">
    <!-- Bind the value of this text input to TodoController.description -->
    <input placeholder="New Todo" type="text" style="width:400px" ng-model="title" />
    <input type="submit" value="Ok" />
</form>

<table>
    <!-- Do this for every Todo in TodoController.todos -->
    <tr ng-repeat="todo in todos">
        <td>
            <!-- Call complete( id ) for this one when it's clicked -->
            <input type="checkbox" ng-click="complete( todo.id )" checked="{{ todo.done }}" id="{{ todo.id }}" />
            <label for="{{ todo.id }}">{{ todo.title }}</label>
        </td>
    </tr>
</table>


</body>
</html>
